*{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 10vh 80vh 10vh;
}

header{
    grid-column: 1/3;
}
footer{
    grid-column: 1/3;
    border: 1px solid black;
}